/* mobile-view */
@media (max-width:767px){
#a{
    width: 480px;
    height: 75px;
}
#b{
    width: 480px;
    height: 150px;
}
#cd-contaner{
    width: 480px;
    height: 250px;
}
#ef-container{
    width: 480px;
    height: 250px;    
}
#gh-container{
    width: 480px;
    height: 250px;    
}
#i{
    width: 480px;
    height: 80px;
    background-color: rgb(87, 86, 86);
}
}
/* desktop-view */
@media  (min-width:768px) {
    #a{
        width: 960px;
        height: 100px;
    }
    #b{
        width: 200px;
        height: 600px;
        float: left;
    }
    #cd-contaner{
        width: 760px;
        height: 200px;
    }
    #ef-container{
        width: 380px;
        height: 250px;  
        float: left;  
    }
    #gh-container{
        width: 380px;
        height: 250px;  
        float: right;  
    }
    #i{
        width: 760px;
        height: 150px;
        background-color: rgb(87, 86, 86);
        clear: right;
        padding-left: 200px;
    }
}