/* mobile-view */
@media (max-width:767px){
    #a{
        background-color: rgb(170, 167, 167);
    }
    #b{
        background-color: deeppink;
    }
    #c{
        background-color: darkmagenta;
    }
    #d{
        background-color: crimson;
    }
    #e{
        background-color: yellowgreen;
    }
    #f{
        background-color: yellow;
    }
    #g{  
        background-color: lightblue;
    }
    #h{   
        background-color: cadetblue;
    }
    #i{
        background-color: rgb(87, 86, 86);
    }
}
/* tablet-view */
@media  (min-width:768px) and (max-width: 1024px){
    main{
        color: #ffff;
    }
    #a{
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(106, 106, 234) 35%, rgb(242, 31, 51) 100%);
    }
    #b{
        background-color: rgba(2,0,36,1);
    }
    #c{
        background-color: rgb(106, 106, 234);
    }
    #d{
        background-color: rgb(231, 36, 75);
    }
    #e{
        background-color: rgb(95, 131, 22);
    }
    #f{
        background-color: rgb(241, 241, 66);
    }
    #g{  
        background-color: rgb(127, 191, 212);
    }
    #h{   
        background-color: rgb(18, 50, 51);
    }
    #i{
        background-color: rgb(14, 13, 13);
    }
}
/* desktop-view */
@media  (min-width:1025px) {
    #a{
        background-color: rgb(87, 86, 86);
    }
    #b{
        background-color: cadetblue;
    }
    #c{
        background-color: lightblue;
    }
    #d{
        background-color: yellow;
    }
    #e{
        background-color: yellowgreen;
    }
    #f{
        background-color: crimson;
    }
    #g{
        background-color: darkmagenta;
    }
    #h{
        background-color: deeppink;
    }
    #i{
        background-color: rgb(170, 167, 167);
    }
}